Q-1

In [2]:
import pandas as pd 
a = [4,8,15,16,23,42] 
q1 = pd.Series(a) 
print(q1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q-2

In [9]:
def func(lst):
    q2 = pd.Series(lst)
    return q2
    
    
    
b = [1,2,3,4,5,6,7,8,9,10] 
print(func(b))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q-3

In [13]:
c = {
    "name":["Alice", "Bob", "Claire"], 
    "Age":[25,30,27],
    "Gender":["Female", "Male", "Female"]
} 
q3 = pd.DataFrame(c)
print(q3)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q-4

Data Frame:- 
             Showing up of data in tablualar format using multidimentional arrays, wehre as in Series data is shown up in a singular column.

Q-5

'DataFrame', 'Series', 'heading', 'tail' are some comman functions used in Pandas to manipulate data.

In [14]:
# EG:- 
var1 = {
    "Name":["Rajamouli", "Prasanth Neel", "Lokesh Kanagraj"],
    "Movies":["Baahubali", "Salaar", "Vikram"], 
    "Language":["Telugu", "Telugu", "Tamil"]
} 

df1 = pd.DataFrame(var1) 
df2 = pd.Series(var1)

              Name     Movies Language
0        Rajamouli  Baahubali   Telugu
1    Prasanth Neel     Salaar   Telugu
2  Lokesh Kanagraj     Vikram    Tamil

In [15]:
print(df1)

              Name     Movies Language
0        Rajamouli  Baahubali   Telugu
1    Prasanth Neel     Salaar   Telugu
2  Lokesh Kanagraj     Vikram    Tamil

In [16]:
print(df2)

Name        [Rajamouli, Prasanth Neel, Lokesh Kanagraj]
Movies                      [Baahubali, Salaar, Vikram]
Language                        [Telugu, Telugu, Tamil]
dtype: object

In [17]:
print(df1.head(2))

            Name     Movies Language
0      Rajamouli  Baahubali   Telugu
1  Prasanth Neel     Salaar   Telugu

In [18]:
print(df1.tail(1))

              Name  Movies Language
2  Lokesh Kanagraj  Vikram    Tamil

              Name     Movies Language
0        Rajamouli  Baahubali   Telugu
1    Prasanth Neel     Salaar   Telugu
2  Lokesh Kanagraj     Vikram    Tamil

Q-6

Except Series, DataFrames and panel are mutable

Q-7

In [24]:
n = {
    "2":[2,4,6,8,10],
    "3":[3,6,9,12,15],
    "4":[4,8,12,16,20],
    "5":[5,10,15,20,25],
    "6":[6,12,18,24,30]
} 
df6 = pd.DataFrame(n) 
print(df6)

    2   3   4   5   6
0   2   3   4   5   6
1   4   6   8  10  12
2   6   9  12  15  18
3   8  12  16  20  24
4  10  15  20  25  30